body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    text-align: center;
}

.game-container {
    border: 2px solid #fff;
    display: inline-block;
    position: relative;
}

canvas {
    background-color: #d3d0d0;
}

/* TETROMINOS COLORS */
.tetromino-I {
    background-color: #eee4da;
    border: none;
    box-shadow: none;
}

.tetromino-O {
    background-color: #ede0c8;
    border: none;
    box-shadow: none;
}

.tetromino-L {
    background-color: #85e2bE;
    border: none;
    box-shadow: none;
}

.tetromino-J {
    background-color: #f59563;
    border: none;
    box-shadow: none;
}

.tetromino-S {
    background-color: #edcf72;
    border: none;
    box-shadow: none;
}

.tetromino-Z {
    background-color: cyan;
    border: none;
    box-shadow: none;
}

.tetromino-T {
    background-color: #e9bd96;
    border: none;
    box-shadow: none;
}

#gameInfo {
    margin-top: 10px;
    color: #fff;
}

#restartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    padding: 6px 20px;
/*   background-color: #ebac4d;*/
    color: #fff;
    border: 1px solid #0b200c;
    text-align: center;
    width: 170px;
    height: 40px;
    z-index: 10;
}

/* #restartButton:hover {
    background-color: #dfc595;
} */

#canvas {
    border: 1px solid black;
}

#score {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

.button {
    background-color: #3a923e;
    color: white;
    border: none;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 100px; /* Fixed width */
    height: 40px; /* Fixed height */
}

.button:hover {
    background-color: #1d5f21;
}